* { 
	box-sizing: border-box;
 }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	display: flex;
  	justify-content: center;
 }

canvas {
	z-index: 10;
	margin: 0 auto;
}

.widget { 
	width: 80%;
	margin: 0 auto;
	height: 100%;
 }

 .title { 
 	background-color: black;
 	padding: 10px 20px;
 	color: #fff;
 	margin-bottom: 7px;
 	text-transform: uppercase;
  }

 .button { 
 	padding: 1em 1.2em;
 	border: 3px solid #fff;
 	color: #fff;
 	cursor: pointer;
 	font-size: 3em;
 	font-family: 'Montserrat', sans-serif;
 	text-transform: uppercase;
}

  .button:focus { 
  	outline: 0;
   }

  #Trump { 
  	background-color: red;
   }

   #Clinton { 
   	background-color: blue;
    }

 .flexWrapper { 
 	display: flex; 
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	flex-wrap: wrap;
 	height: 100vh;
  }