html, body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

body {
	position: relative;
 }

canvas {
	z-index: 10;
}
/*
.scoreBoard {
	position: absolute;;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	height: 70px;
 }*/
